@using ISZR.Web.ViewModels;

@model HealthChecksViewModel;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Rendszer állapotfelmérése";
    var healthcheck = $"{Context.Request.Scheme}://{Context.Request.Host}/healthz";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-server"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Kiszolgáló szerver</span>
                    <a href="@healthcheck" class="info-box-number text-success font-weight-bold"><i class="icon fas fa-signal mr-2"></i>Elérhető</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-database"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Adatbázis</span>
                    @if (Model.DatabaseStatus)
                    {
                        <span class="info-box-number text-success font-weight-bold"><i class="icon fas fa-signal mr-2"></i>Elérhető</span>
                    }
                    else
                    {
                        <span class="info-box-number text-danger font-weight-bold"><i class="icon fas fa-exclamation-triangle mr-2"></i>Nem elérhető</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="m-2">Felhasználókkal kapcsolatos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-door-open"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Mai napon bejelentkezett felhasználók</span>
                    <a class="info-box-number text-muted" asp-controller="Users" asp-action="Index">
                        <span class="mr-2 text-success font-weight-bold"><i class="icon fas fa-user mr-2"></i>@Model.LoggedUserToday</span>
                        <span class="mr-2 text-muted">/</span>
                        <span class="text-muted"><i class="icon fas fa-users mr-2"></i>@Model.ActiveUsers</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-parking"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jelenleg aktív parkolási engedélyek</span>
                    <a class="info-box-number text-success font-weight-bold" asp-controller="Parkings" asp-action="Index">@Model.ActiveParkings</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="m-2">Felhasználók számára igényelhető</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-users-cog"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jogosultsági csoport</span>
                    <a class="info-box-number text-success font-weight-bold" asp-controller="Groups" asp-action="Index">@Model.ActiveGroups</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-key"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jogosultság</span>
                    <a class="info-box-number font-weight-bold text-muted" asp-controller="Permissions" asp-action="Index">
                        <span class="mr-2 text-info"><i class="icon fab fa-windows mr-2"></i>@Model.ActiveWindowsPermission</span>
                        <span class="mr-2 text-muted">/</span>
                        <span class="text-warning"><i class="icon fas fa-dove mr-2"></i>@Model.ActiveFonixPermission</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-phone-square-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-muted">PIN Kód</span>
                    <a class="info-box-number" asp-controller="Phones" asp-action="Index">
                        <span class="mr-2 text-success font-weight-bold"><i class="icon fas fa-phone mr-2"></i>@Model.ActiveNotUsedPhone</span>
                        <span class="mr-2 text-muted">/</span>
                        <span class="text-muted"><i class="icon fas fa-phone-slash mr-2"></i>@Model.ActivePhones</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="m-2">Igénylésekkel kapcsolatos statisztikák</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-body">
                    @{
                        // Százalékok kiszámítása
                        int? donePercent = (int)Math.Round((double)(100 * Model.RequestAllDone) / Model.RequestAll);
                        int? inProgressPercent = (int)Math.Round((double)(100 * Model.RequestAllProgress) / Model.RequestAll);
                        int? deniedPercent = (int)Math.Round((double)(100 * Model.RequestAllDenied) / Model.RequestAll);
                    }
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="progress-group">
                                <span class="progress-text">Végrehajtva</span>
                                <span class="float-right"><b>@Model.RequestAllDone</b>/@Model.RequestAll</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" style="width: @donePercent%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="progress-group">
                                <span class="progress-text">Folyamatban lévő</span>
                                <span class="float-right"><b>@Model.RequestAllProgress</b>/@Model.RequestAll</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" style="width: @inProgressPercent%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="progress-group">
                                <span class="progress-text">Elutasítva</span>
                                <span class="float-right"><b>@Model.RequestAllDenied</b>/@Model.RequestAll</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger" style="width: @deniedPercent%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="description-block border-right">
                                <h5 class="description-header">@Model.RequestOpenToday darab</h5>
                                <span class="description-text">Mai napon létrehozva</span>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="description-block border-right">
                                <h5 class="description-header">@Model.RequestClosedToday darab</h5>
                                <span class="description-text">Mai napon lezárva</span>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="description-block border-right">
                                <h5 class="description-header">@Model.RequestClosedMonth darab</h5>
                                <span class="description-text">Hónapban lezárva</span>
                            </div>

                        </div>

                        <div class="col-6 col-md-3">
                            <div class="description-block">
                                <h5 class="description-header">@Model.RequestClosedYear darab</h5>
                                <span class="description-text">Évben lezárva</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
