@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Rendszer állapotfelmérése";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-server"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Kiszolgáló állapota</span>
                    <span class="info-box-number text-success font-weight-bold"><i class="fas fa-signal"></i> Elérhető</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-server"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">API állapota</span>
                    <span class="info-box-number text-success font-weight-bold"><i class="fas fa-signal"></i> Elérhető</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-database"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Adatbázis állapota</span>
                    <span class="info-box-number text-success font-weight-bold"><i class="fas fa-signal"></i> Elérhető</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4 class="m-2">Felhasználókkal kapcsolatos adatok</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="info-box bg-default">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Rendszerben tárolt mennyiség</span>
                            <span class="info-box-number text-center text-muted mb-0">
                                Összesen @ViewBag.AllUsers fő
                                (<span class="text-success font-weight-bold ml-1 mr-1"><i class="fas fa-signal mr-1"></i>@ViewBag.ActiveUsers</span>
                                <span class="text-danger font-weight-bold mr-1"><i class="fas fa-archive mr-1"></i>@ViewBag.ArchivedUsers</span>)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="info-box bg-default">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Mai napon bejelentkezett felhasználók mennyisége</span>
                            <span class="info-box-number text-center text-muted mb-0">Összesen @ViewBag.TodayUsers fő</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4 class="m-2">Jogosultságokkal kapcsolatos adatok</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="info-box bg-default">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Rendszerben tárolt mennyiség</span>
                            <span class="info-box-number text-center text-muted mb-0">
                                Összesen @ViewBag.AllPermission darab
                                (<span class="text-success font-weight-bold ml-1 mr-1"><i class="fas fa-signal mr-1"></i>@ViewBag.ActivePermission</span>
                                <span class="text-danger font-weight-bold mr-1"><i class="fas fa-archive mr-1"></i>@ViewBag.ArchivedPermission</span>)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="info-box bg-default">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Rendszerben tárolt jogosultságok eloszlása</span>
                            <span class="info-box-number text-center text-muted mb-0">
                                <span class="text-info mr-1"><i class="fab fa-windows mr-1"></i>@ViewBag.WindowsPermission</span>
                                <span class="text-warning"><i class="fas fa-dove mr-1"></i>@ViewBag.FonixPermission</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4 class="m-2">Igénylésekkel kapcsolatos adatok</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="info-box bg-default">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Rendszerben tárolt mennyiség</span>
                            <span class="info-box-number text-center text-muted mb-0">
                                Összesen @ViewBag.AllRequest darab
                                (<span class="text-success ml-1 mr-1"><i class="icon fas fa-check mr-1"></i>@ViewBag.DoneRequest</span>
                                <span class="text-warning mr-1"><i class="icon fas fa-comment-dots mr-1"></i>@ViewBag.InProgressRequest</span>
                                <span class="text-danger mr-1"><i class="icon fas fa-ban mr-1"></i>@ViewBag.DeniedRequest</span>)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="info-box bg-default">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Mai napon lezárt igénylések mennyisége</span>
                            <span class="info-box-number text-center text-muted mb-0">
                                Összesen @ViewBag.TodayDoneRequest darab
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
