@model PaginatedList<ISZR.Web.Models.Permission>;

@{
    ViewData["Title"] = "Igényelhető jogosultságok";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Home" asp-action="Permissions" method="get">
                <div class="card card-info d-print-none">
                    <div class="card-header" data-card-widget="collapse">
                        <h3 class="card-title"><i class="fas fa-filter mr-2"></i>Jogosultságok szűrése <abbr title="A beállított szűrők alapján fog megjelenni a lekért lista" class="text-decoration-none text-white ml-1"><i class="fas fa-question-circle"></i></abbr></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Név</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-font"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="name" placeholder="Keresés név alapján" value="@ViewBag.name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Típus</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-tag"></i></span>
                                        </div>
                                        @Html.DropDownList("type", (List<SelectListItem>)ViewBag.TypeList, new { @class = "form-control select2bs4" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-print-none">
                        <span class="float-right">
                            <a class="btn btn-default ml-1 mr-1" onclick="window.print()"><i class="icon fas fa-print mr-2"></i>Lista nyomtatása</a>
                            <button type="submit" alt="Megjelenített jogosultságok szűrése" class="btn btn-info">Szűrés</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Név</th>
                                <th class="w-75">Leírás</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span>@item.Name</span><br />
                                        @if (item.Type == "Windows")
                                        {
                                            <span class="badge badge-info"><i class="icon fab fa-windows mr-2"></i>Windows jogosultság</span>
                                        }
                                        @if (item.Type == "Főnix 3")
                                        {
                                            <span class="badge badge-warning"><i class="icon fas fa-dove mr-2"></i>Főnix 3 jogosultság</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                        @if (item.ActiveDirectoryPermissions != null)
                                        {
                                            <br />
                                            <abbr class="text-muted initialism" title="Igénylésen szereplő jogosultsági kód">@item.ActiveDirectoryPermissions</abbr>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="float-left ml-1">
                <div class="text-muted font-italic">
                    Aktuális oldal: <span class="font-weight-bold ml-1 mr-1">@Model.PageIndex</span>/<span class="ml-1 mr-1">@Model.TotalPages</span><br />
                    <span class="mr-1">@ViewData["dataLength"]</span> darab jogosultság
                </div>
            </div>

            <div class="float-right d-print-none">
                <a class="btn btn-default mr-2 @prevDisabled"
                   asp-action="Index"
                   asp-route-name="@ViewBag.name"
                   asp-route-type="@ViewBag.type"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"><i class="fas fa-backward text-info mr-2"></i>Elöző oldal</a>

                <a class="btn btn-default @nextDisabled"
                   asp-action="Index"
                   asp-route-name="@ViewBag.name"
                   asp-route-type="@ViewBag.type"
                   asp-route-pageNumber="@(Model.PageIndex + 1)">Következő oldal<i class="fas fa-forward text-info ml-2"></i></a>
            </div>
        </div>
    </div>
</div>
