@model IEnumerable<ISZR.Web.Models.Permission>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Jogosultságok karbantartása";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="card-title"><a asp-action="Create" asp-route-type="Windows" class="btn btn-light mr-1"><i class="fab fa-windows"></i> Windows jogosultság hozzáadása</a></h3>
                    <h3 class="card-title"><a asp-action="Create" asp-route-type="Főnix 3" class="btn btn-light mr-1"><i class="fas fa-dove"></i> Főnix 3 jogosultság hozzáadása</a></h3>
                </div>

                <div class="card-body p-0">
                    @foreach (var item in Model)
                    {
                        <div class="modal fade" id="deleteModal@(item.PermissionId)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(item.PermissionId)" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title" id="deleteModalLabel@(item.PermissionId)">Archiválási állapot megváltoztatása</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div>Biztosan szeretnéd <b>@item.Name</b> nevű jogosultság archiválási állapotát megváltoztatni?</div>
                                        <div>
                                            Jogosultság típusa:
                                            @if (item.Type == "Windows")
                                            {
                                                <span class="text-info font-weight-bold"><i class="fab fa-windows ml-1"></i> Windows jogosultság</span>
                                            }
                                            @if (item.Type == "Főnix 3")
                                            {
                                                <span class="text-warning font-weight-bold"><i class="fas fa-dove ml-1"></i> Főnix 3 jogosultság</span>
                                            }
                                        </div>
                                        <div>
                                            Jelenlegi állapota:
                                            @if (item.IsArchived)
                                            {
                                                <span class="text-danger font-weight-bold"><i class="fas fa-archive ml-1"></i> Archivált</span>
                                            }
                                            else
                                            {
                                                <span class="text-success font-weight-bold"><i class="fas fa-signal ml-1"></i> Elérhető</span>
                                            }
                                            <span class="ml-1">Változtatás utánni állapota:</span>
                                            @if (!item.IsArchived)
                                            {
                                                <span class="text-danger font-weight-bold"><i class="fas fa-archive ml-1"></i> Archivált</span>
                                            }
                                            else
                                            {
                                                <span class="text-success font-weight-bold"><i class="fas fa-signal ml-1"></i> Elérhető</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Vissza</button>
                                        <form asp-action="Index" asp-route-id="@item.PermissionId">
                                            <input type="hidden" asp-for="@item.PermissionId" />
                                            <button type="submit" class="btn btn-danger">Jogosultság állapotának megváltoztatása</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Név</th>
                                <th>Leírás</th>
                                <th>Állapot</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)<br />
                                        @if (item.Type == "Windows")
                                        {
                                            <span class="text-info font-weight-bold"><i class="fab fa-windows"></i> Windows jogosultság</span>
                                        }
                                        @if (item.Type == "Főnix 3")
                                        {
                                            <span class="text-warning font-weight-bold"><i class="fas fa-dove"></i> Főnix 3 jogosultság</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @if (item.IsArchived)
                                        {
                                            <span class="text-danger font-weight-bold"><i class="fas fa-archive"></i> Archivált</span>
                                        }
                                        else
                                        {
                                            <span class="text-success font-weight-bold"><i class="fas fa-signal"></i> Elérhető</span>
                                        }
                                    </td>
                                    <td class="float-right">
                                        <a asp-action="Details" asp-route-id="@item.PermissionId"><input type="button" value="Részletek" class="btn btn-info" /></a>
                                        <a asp-action="Edit" asp-route-id="@item.PermissionId"><input type="button" value="Szerkesztés" class="btn btn-warning ml-1" /></a>
                                        <input type="button" data-toggle="modal" data-target="#deleteModal@(item.PermissionId)" value="Állapot változtatás" class="btn btn-danger ml-1" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
