@model PaginatedList<ISZR.Web.Models.Permission>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Jogosultságok karbantartása";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info d-print-none">
                    <h3 class="card-title"><a asp-action="Create" asp-route-type="Windows" class="btn btn-light mr-1"><i class="icon fab fa-windows mr-2"></i>Új Windows jogosultság létrehozása</a></h3>
                    <h3 class="ml-2 card-title"><a asp-action="Create" asp-route-type="Főnix 3" class="btn btn-light mr-1"><i class="icon fas fa-dove mr-2"></i>Új Főnix 3 jogosultság létrehozása</a></h3>
                </div>

                <div class="card-body p-0">
                    @foreach (var item in Model)
                    {
                        <div class="modal fade" id="deleteModal@(item.PermissionId)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(item.PermissionId)" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title" id="deleteModalLabel@(item.PermissionId)"><i class="fas fa-archive mr-2"></i>Archiválási állapot megváltoztatása</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div>Biztosan szeretnéd <b>@item.Name</b> nevű jogosultság archiválási állapotát megváltoztatni?</div>
                                        <div>
                                            Jogosultság típusa:
                                            @if (item.Type == "Windows")
                                            {
                                                <span class="text-info font-weight-bold"><i class="icon fab fa-windows ml-1 mr-2"></i>Windows jogosultság</span>
                                            }
                                            @if (item.Type == "Főnix 3")
                                            {
                                                <span class="text-warning font-weight-bold"><i class="icon fas fa-dove ml-1 mr-2"></i>Főnix 3 jogosultság</span>
                                            }
                                        </div>
                                        <br />
                                        <div class="text-danger font-weight-bold">FIGYELEM!</div>
                                        <div class="text-muted">Archivált jogosultságot a felhasználók már nem tudnak igényelni!</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-sign-out-alt mr-2"></i>Vissza</button>
                                        <form asp-action="Index" asp-route-id="@item.PermissionId">
                                            <input type="hidden" asp-for="@item.PermissionId" />
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-archive mr-2"></i>Megváltoztatás</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Név</th>
                                <th>Leírás</th>
                                <th class="d-print-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span>@item.Name</span>
                                        <br />
                                        @if (item.Type == "Windows")
                                        {
                                            <span class="badge badge-info"><i class="icon fab fa-windows mr-2"></i>Windows jogosultság</span>
                                        }
                                        @if (item.Type == "Főnix 3")
                                        {
                                            <span class="badge badge-warning"><i class="icon fas fa-dove mr-2"></i>Főnix 3 jogosultság</span>
                                        }
                                        @if (item.IsArchived)
                                        {
                                            <span class="badge badge-danger ml-1"><i class="icon fas fa-archive mr-2"></i>Archivált jogosultság</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success ml-1"><i class="icon fas fa-puzzle-piece mr-2"></i>Igényelhető jogosultság</span>
                                        }
                                    </td>
                                    <td>
                                        <span class="text-muted">@item.Description</span>
                                    </td>
                                    <td class="float-right d-print-none">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-book mr-2"></i>Adminisztratív müveletek
                                            </button>
                                            <div class="dropdown-menu">
                                                <a asp-action="Details" asp-route-id="@item.PermissionId" class="dropdown-item"><i class="fas fa-search mr-2"></i>Megtekintés</a>
                                                <a asp-action="Edit" asp-route-id="@item.PermissionId" class="dropdown-item"><i class="fas fa-edit mr-2"></i>Szerkesztés</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item bg-danger text-white" href="#" data-toggle="modal" data-target="#deleteModal@(item.PermissionId)"><i class="fas fa-archive mr-2"></i>Archiválás</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="float-left ml-1">
                <div class="text-muted font-italic">
                    Aktuális oldal: <span class="font-weight-bold ml-1 mr-1">@Model.PageIndex</span>/<span class="ml-1 mr-1">@Model.TotalPages</span><br />
                    <span class="mr-1">@ViewData["dataLength"]</span> darab jogosultság
                </div>
            </div>

            <div class="float-right d-print-none">
                <a class="btn btn-default mr-2 @prevDisabled"
                   asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"><i class="fas fa-backward text-info mr-2"></i>Elöző oldal</a>

                <a class="btn btn-default @nextDisabled"
                   asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex + 1)">Következő oldal<i class="fas fa-forward text-info ml-2"></i></a>
            </div>
        </div>
    </div>
</div>
