@model IEnumerable<ISZR.Web.Models.Report>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Hibabejelentések";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Reports" asp-action="Index" method="get">
                <div class="card card-info d-print-none">
                    <div class="card-header" data-card-widget="collapse">
                        <h3 class="card-title font-weight-bold"><i class="icon fas fa-filter mr-2"></i>Bejelentések szűrése</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Bejelentő</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <select name="reportUser" class="form-control select2bs4" asp-items="ViewBag.ReportUserId">
                                            <option>Mind</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Keresés a leírásban</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-font"></i></span>
                                        </div>
										<input name="text" type="text" class="form-control" placeholder="Megadott szó keresése a bejelentésekben">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Státusz</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-tag"></i></span>
                                        </div>
                                        <select name="status" class="form-control select2bs4">
                                            <option value="false" selected>Folyamatban</option>
                                            <option value="true">Lezárva</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-print-none">
                        <span class="float-right">
                            <a class="btn btn-default ml-1 mr-1" onclick="window.print()"><i class="icon fas fa-print mr-2"></i>Lista nyomtatása</a>
                            <button type="submit" alt="Megjelenített igénylések szűrése" class="btn btn-info">Szűrés</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body p-0">
					@foreach (var item in Model)
					{
						<div class="modal fade" id="deleteModal@(item.ReportId)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(item.ReportId)" aria-hidden="true">
							<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header bg-danger">
										<h5 class="modal-title" id="deleteModalLabel@(item.ReportId)"><i class="fas fa-archive mr-2"></i>Archiválási állapot megváltoztatása</h5>
									</div>
									<div class="modal-body">
										<div>Biztosan szeretnéd <b>@item.Title</b> című bejelentés állapotát megváltoztatni?</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</button>
										<form asp-action="Index" asp-route-id="@item.ReportId">
											<input type="hidden" asp-for="@item.ReportId" />
											<button type="submit" class="btn btn-danger"><i class="fas fa-archive mr-2"></i>Megváltoztatás</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					}
					<table class="table table-striped">
						<thead class="bg-info">
							<tr>
								<th>Bejelentő</th>
								<th>Bejelentés</th>
								<th>Állapot</th>
								<th class="d-print-none"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@if (item.ReportUser != null)
										{
											<span>@item.ReportUser?.DisplayName bv. @item.ReportUser?.Rank?.ToLower()</span>
										}
										else
										{
											<span class="text-danger font-weight-bold"><i class="icon fas fa-exclamation-triangle mr-2"></i>Engedélyező személy beállítva</span>
										}
									</td>
									<td>
										<b>@Html.DisplayFor(modelItem => item.Title)</b><br>
										@Html.DisplayFor(modelItem => item.Description)
									</td>
									<td>
										@if (item.IsSolved)
										{
											<span class="text-danger font-weight-bold"><i class="icon fas fa-lock mr-2"></i>Lezárva</span>
										}
										else
										{
											<span class="text-success font-weight-bold"><i class="icon fas fa-lock-open mr-2"></i>Folyamatban</span>
										}
									</td>
									<td class="float-right d-print-none">
										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<i class="fas fa-book mr-2"></i>Műveletek
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#deleteModal@(item.ReportId)"><i class="fas fa-archive mr-2"></i>Archiválás</a>
											</div>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
