@model IEnumerable<ISZR.Web.Models.Phone>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "PIN kódok karbantartása";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info d-print-none">
                    <h3 class="card-title"><a asp-action="Create"><input type="button" value="Új PIN kód létrehozása" class="btn btn-light" /></a></h3>
                </div>

                <div class="card-body p-0">
                    @foreach (var item in Model)
                    {
                        <div class="modal fade" id="deleteModal@(item.PhoneId)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(item.PhoneId)" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title" id="deleteModalLabel@(item.PhoneId)"><i class="fas fa-archive mr-2"></i>Archiválási állapot megváltoztatása</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div>Biztosan szeretnéd <b>@item.PhoneCode</b> számú PIN kód archiválási állapotát megváltoztatni?</div>
                                        <br />
                                        <div class="text-danger font-weight-bold">FIGYELEM!</div>
                                        <div class="text-muted">Archivált telefonos PIN kódot a felhasználók már nem tudnak igényelni, illetve amennyiben ki van adva, úgy az a beállítás megmarad!</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</button>
                                        <form asp-action="Index" asp-route-id="@item.PhoneId" method="post">
                                            <input type="hidden" asp-for="@item.PhoneId" />
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-archive mr-2"></i>Megváltoztatás</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>PIN kód</th>
                                <th>Aktuális használó</th>
                                <th class="d-print-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span>@item.PhoneCode</span>
                                        <br />
                                        @if (item.IsArchived)
                                        {
                                            <span class="badge badge-danger"><i class="icon fas fa-archive mr-2"></i>Archivált telefonos PIN kód</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success"><i class="icon fas fa-phone mr-2"></i>Használható telefonos PIN kód</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.PhoneUser != null)
                                        {
                                            <span>@item.PhoneUser?.DisplayName bv. @item.PhoneUser?.Rank?.ToLower()</span>
                                            <br />
                                            <span class="badge badge-info">@item.PhoneUser?.Position?.Name</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger"><i class="icon fas fa-exclamation-triangle mr-2"></i>Nincs használatban</span>
                                        }
                                    </td>
                                    <td class="float-right d-print-none">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-book mr-2"></i>Adminisztratív müveletek
                                            </button>
                                            <div class="dropdown-menu">
                                                <a asp-action="Edit" asp-route-id="@item.PhoneId" class="dropdown-item"><i class="fas fa-edit mr-2"></i>Szerkesztés</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item bg-danger text-white" href="#" data-toggle="modal" data-target="#deleteModal@(item.PhoneId)"><i class="fas fa-archive mr-2"></i>Archiválás</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
