@model IEnumerable<ISZR.Models.Request>

@{
    ViewData["Title"] = "Igénylések";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Igénylések</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Igénylés azonosítója</th>
                                <th>Igénylő személy</th>
                                <th>Kinek a számára</th>
                                <th>Igénylés típusa</th>
                                <th>Státusz</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestAuthor.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestFor.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @{
                                            switch (item.Status)
                                            {
                                                case "Elutasítva":
                                                    {
                                                        <span class="badge badge-danger"><i class="icon fas fa-ban"></i> @item.Status</span>
                                                        break;
                                                    }
                                                case "Végrehajtva":
                                                    {
                                                        <span class="badge badge-success"><i class="fas fa-check"></i> @item.Status</span>
                                                        break;
                                                    }
                                                default:
                                                    {
                                                       <span class="badge badge-warning"><i class="fas fa-comment-dots"></i> @item.Status</span>
                                                        break;
                                                    }
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.RequestId"><input type="button" value="Részletek" class="btn btn-info" /></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
