@model IEnumerable<ISZR.Models.Camera>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Intézeti kamerák karbantartása";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Intézeti kamerák karbantartása</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-video"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Intézeti kamerák összesen</span>
                    <span class="info-box-number">@ViewBag.All</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="card-title"><a asp-action="Create"><input type="button" value="Új intézeti kamera hozzáadása" class="btn btn-light" /></a></h3>
                </div>

                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Azonosító</th>
                                <th>Kamera neve</th>
                                <th>Kamera típusa</th>
                                <th>Kamera szektora</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CameraId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sector)
                                    </td>
                                    <td class="float-right">
                                        <a asp-action="Details" asp-route-id="@item.CameraId"><input type="button" value="Részletek" class="btn btn-info" /></a>
                                        <a asp-action="Edit" asp-route-id="@item.CameraId"><input type="button" value="Szerkesztés" class="btn btn-warning" /></a>
                                        <a asp-action="Delete" asp-route-id="@item.CameraId"><input type="button" value="Törlés" class="btn btn-danger" /></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
