@model ISZR.Web.Models.Request

@{
    ViewData["Title"] = $"#{Model?.RequestId} számú igénylés";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="invoice p-3 mb-3">
                <div class="row d-none d-print-block">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="~/img/cimer.png" alt="Címer" height="100em">
                    </div>
                    <div class="col-12 font-weight-bold text-center mt-2 mb-2">
                        <h4 class="mb-0">BÜNTETÉS-VÉGREHAJTÁS GAZDASÁGI ELLÁTÓ INTÉZETE</h4>
                        <h5>I. AGGLOMERÁCIÓ</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <span class="d-print-none"><i class="icon fas fa-paperclip mr-2"></i>Digitális szolgálati jegy</span>
                            <small class="float-right">ISZR <a href="@Url.Content(Context.Request.Path)" class="text-info font-weight-bold text-decoration-none">#@Model?.RequestId</a></small>
                        </h4>
                    </div>
                </div>
                <div class="row invoice-info mb-2">
                    @if (Model?.CreatedByUser != null)
                    {
                        <div class="col-xl-4 col-md-6 col-12 invoice-col">
                            <strong>Igénylést intéző</strong>
                            <address>
                                @Model?.CreatedByUser?.DisplayName bv. @Model?.CreatedByUser?.Rank?.ToLower()<br />
                                @Model?.CreatedByUser?.Class?.Name, @Model?.CreatedByUser?.Position?.Name<br />
                                <i class="icon fas fa-map-marker-alt mr-2"></i>@Model?.CreatedByUser?.Location<br />
                                @if (!string.IsNullOrEmpty(Model?.CreatedByUser?.Email))
                                {
                                    <i class="icon fas fa-envelope mr-2"></i>
                                    @Model?.CreatedByUser?.Email
                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(Model?.CreatedByUser?.Phone))
                                {
                                    <i class="icon fas fa-phone-square-alt mr-2"></i>
                                    @Model?.CreatedByUser?.Phone
                                }
                            </address>
                        </div>
                    }
                    @if (Model?.CreatedForUser != null)
                    {
                        <div class="col-xl-4 col-md-6 col-12 invoice-col">
                            <strong>Felhasználó számára</strong>
                            <address>
                                @Model?.CreatedForUser?.DisplayName bv. @Model?.CreatedForUser?.Rank?.ToLower()<br />
                                @Model?.CreatedForUser?.Class?.Name, @Model?.CreatedForUser?.Position?.Name<br />
                                <i class="icon fas fa-map-marker-alt mr-2"></i>@Model?.CreatedForUser?.Location<br />
                                @if (!string.IsNullOrEmpty(Model?.CreatedForUser?.Email))
                                {
                                    <i class="icon fas fa-envelope mr-2"></i>
                                    @Model?.CreatedForUser?.Email
                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(Model?.CreatedForUser?.Phone))
                                {
                                    <i class="icon fas fa-phone-square-alt mr-2"></i>
                                    @Model?.CreatedForUser?.Phone
                                }
                            </address>
                        </div>
                    }
                    <div class="col-xl-4 col-12 invoice-col d-print-none">
                        <div>
                            <span class="font-weight-bold mr-1">Igénylés típusa:</span>
                            <span>@Model?.Type</span>
                        </div>
                        <div>
                            <span class="font-weight-bold mr-1">Létrehozva:</span>
                            <span>@Model?.CreatedDateTime.ToString("yyyy. MMMM dd. HH:mm")</span>
                        </div>
                        @if (Model?.ClosedDateTime != new DateTime())
                        {
                            <div>
                                <span class="font-weight-bold mr-1">Lezárva:</span>
                                <span>@Model?.ClosedDateTime.ToString("yyyy. MMMM dd. HH:mm")</span>
                            </div>
                            <div>
                                <span class="font-weight-bold mr-1">Lezáró személy:</span>
                                <span>@Model?.ClosedByUser?.DisplayName</span>
                            </div>
                        }
                        <div>
                            <span class="font-weight-bold mr-1">Státusz:</span>
                            @{
                                switch (Model?.Status)
                                {
                                    case "Elutasítva":
                                        {
                                            <span class="badge badge-danger"><i class="icon fas fa-ban mr-2"></i>@Model?.Status</span>
                                            break;
                                        }
                                    case "Végrehajtva":
                                        {
                                            <span class="badge badge-success"><i class="icon fas fa-check mr-2"></i>@Model?.Status</span>
                                            break;
                                        }
                                    default:
                                        {
                                            <span class="badge badge-info"><i class="icon fas fa-comment-dots mr-2"></i>@Model?.Status</span>
                                            break;
                                        }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @if (Model?.CreatedForUser?.Class?.Authorizer?.Genre == Genre.Male)
                        {
                            <span class="font-weight-bold d-none d-print-block">Tisztelt @Model?.CreatedForUser?.Class?.Authorizer?.Position?.Name Úr!</span>
                        }
                        else
                        {
                            <span class="font-weight-bold d-none d-print-block">Tisztelt @Model?.CreatedForUser?.Class?.Authorizer?.Position?.Name Asszony!</span>
                        }
                    </div>
                    <div class="col-12 mb-3">
                        @ViewData["desc"]
                    </div>
                    @if (!string.IsNullOrEmpty(Model?.Description))
                    {
                        <div class="col-12 mb-3">
                            @Html.Raw(@Model?.Description)
                        </div>
                    }
                </div>

                @if (Model?.CarId != null)
                {
                    <div class="row">
                        <div class="col-12">
                            <dl>
                                <dt><i class="icon fas fa-car mr-2"></i>Jármű típusa</dt>
                                <dd>@Model?.Car?.Brand @Model?.Car?.Modell</dd>
                                <dt><i class="icon fas fa-parking mr-2"></i>Jármű rendszáma</dt>
                                <dd>@Model?.Car?.LicensePlate</dd>
                            </dl>
                        </div>
                    </div>
                }

                @if (Model?.PhoneId != null)
                {
                    <div class="row">
                        <div class="col-12">
                            <dl>
                                <dt><i class="icon fas fa-phone mr-2"></i>Telefonos PIN kód</dt>
                                <dd>@Model?.Phone?.PhoneCode</dd>
                            </dl>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model?.WindowsPermissions))
                {
                    <div class="row">
                        <div class="col-12 d-none d-print-block">
                            <dl>
                                <dt><i class="fab fa-windows mr-2"></i>Windows jogosultságok</dt>
                                <dd>@Model?.WindowsPermissions</dd>
                            </dl>
                        </div>
                        <div class="col-12 d-print-none">
                            <div class="alert alert-info alert-dismissible">
                                <h5><i class="icon fab fa-windows"></i>Windows jogosultságok</h5>
                                @Model?.WindowsPermissions
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model?.FonixPermissions))
                {
                    <div class="row">
                        <div class="col-12 d-none d-print-block">
                            <dl>
                                <dt><i class="fas fa-dove mr-2"></i>Főnix 3 jogosultságok</dt>
                                <dd>@Model?.FonixPermissions</dd>
                            </dl>
                        </div>
                        <div class="col-12 d-print-none">
                            <div class="alert alert-warning alert-dismissible">
                                <h5><i class="icon fas fa-dove"></i>Főnix 3 jogosultságok</h5>
                                @Model?.FonixPermissions
                            </div>
                        </div>
                    </div>
                }

                <div class="row mt-5 d-none d-print-block">
                    <div class="col-12">

                        @if (Model?.CreatedByUser != null)
                        {
                            <div class="float-left signature text-center ml-5">
                                <p class="mb-5 text-left font-weight-bold">Kérelmező:</p>
                                <hr />
                                <h5 class="mb-0">@Model?.CreatedByUser?.DisplayName bv. @Model?.CreatedByUser?.Rank?.ToLower()</h5>
                                @Model?.CreatedByUser?.Position?.Name
                            </div>
                        }

                        @if (Model?.CreatedForUser?.Class?.Authorizer != null)
                        {
                            <div class="float-right text-center mr-5">
                                <p class="mb-5 text-left font-weight-bold">Engedélyezem:</p>
                                <hr />
                                <h5 class="mb-0">@Model?.CreatedForUser?.Class?.Authorizer?.DisplayName bv. @Model?.CreatedForUser?.Class?.Authorizer?.Rank?.ToLower()</h5>
                                @Model?.CreatedForUser?.Class?.Authorizer?.Position?.Name
                            </div>
                        }

                    </div>
                </div>
                <div class="row d-print-none">
                    <div class="col-12">
                        <div class="float-right">
                            @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                            {
                                <a asp-controller="Requests" asp-action="Index" asp-route-status="Mind" asp-route-type="Mind" class="btn btn-secondary"><i class="fas fa-sign-out-alt mr-2"></i>Vissza az igénylésekhez</a>
                            }
                            else
                            {
                                <a asp-controller="Requests" asp-action="ForYou" class="btn btn-secondary"><i class="fas fa-sign-out-alt mr-2"></i>Vissza az igényléseidhez</a>
                            }
                            <a class="btn btn-default ml-1 mr-1" onclick="window.print()"><i class="fas fa-print mr-2"></i>Igénylés nyomtatása</a>
                            @if (User.IsInRole("SKFB-ISZR-Admin"))
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-book mr-2"></i>Adminisztratív müveletek
                                    </button>
                                    <div class="dropdown-menu">
                                        @if (Model?.Status != "Végrehajtva")
                                        {
                                            <form style="display: inline;" asp-action="Details">
                                                <input hidden name="id" value="@Model?.RequestId" />
                                                <input hidden name="status" value="Végrehajtva" />
                                                <input hidden name="resolverId" value="@ViewData["ClosedByUserId"]" />
                                                <button type="submit" class="dropdown-item"><i class="fas fa-check-circle text-success mr-2"></i>Végrehajtás</button>
                                            </form>
                                        }

                                        @if (Model?.Status != "Folyamatban")
                                        {
                                            <form style="display: inline;" asp-action="Details">
                                                <input hidden name="id" value="@Model?.RequestId" />
                                                <input hidden name="status" value="Folyamatban" />
                                                <input hidden name="resolverId" value="@ViewData["ClosedByUserId"]" />
                                                <button type="submit" class="dropdown-item"><i class="fas fa-comment-dots text-warning mr-2"></i>Folyamatba helyezés</button>
                                            </form>
                                        }

                                        @if (Model?.Status != "Elutasítva")
                                        {
                                            <form style="display: inline;" asp-action="Details">
                                                <input hidden name="id" value="@Model?.RequestId" />
                                                <input hidden name="status" value="Elutasítva" />
                                                <input hidden name="resolverId" value="@ViewData["ClosedByUserId"]" />
                                                <button type="submit" class="dropdown-item"><i class="fas fa-times-circle text-danger mr-2"></i>Elutasítás</button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
