@model IEnumerable<ISZR.Web.Models.Request>

@{

    if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
    {
        ViewData["Title"] = "Igénylések";
    }
    else
    {
        ViewData["Title"] = "Számodra kért igénylések";
    }

    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
}

<div class="container-fluid">
    @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
    {
        <div class="row">
            <div class="col-12">
                <form asp-controller="Requests" asp-action="Index" method="get">
                    <div class="card card-info d-print-none">
                        <div class="card-header" data-card-widget="collapse">
                            <h3 class="card-title font-weight-bold"><i class="icon fas fa-filter mr-2"></i>Igénylések szűrése <abbr title="A beállított szűrők alapján fog megjelenni a lekért lista" class="text-decoration-none text-white ml-1"><i class="fas fa-question-circle"></i></abbr></h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Státusz</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-tag"></i></span>
                                            </div>
                                            <select name="status" class="form-control select2bs4">
                                                <option selected>Mind</option>
                                                <option>Folyamatban</option>
                                                <option>Végrehajtva</option>
                                                <option>Elutasítva</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Típus</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                            </div>
                                            <select name="type" class="form-control select2bs4">
                                                <option selected>Mind</option>
                                                <option>Új felhasználó részére jogosultság igénylés</option>
                                                <option>Meglévő felhasználó részére többletjogosultság</option>
                                                <option>Meglévő felhasználó új beosztásának jogosultságai</option>
                                                <option>E-mail cím igénylése</option>
                                                <option>Telefonos PIN kód igénylése</option>
                                                <option>Parkolási engedély igénylése</option>
                                                <option>HikCentral jogosultság igénylése</option>
                                                <option>Kamerafelvétel lementése</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Felhasználó számára</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <select name="requestFor" class="form-control select2bs4" asp-items="ViewBag.CreatedForUserId">
                                                <option>Mind</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-print-none">
                            <span class="float-right">
                                <a class="btn btn-default ml-1 mr-1" onclick="window.print()"><i class="icon fas fa-print mr-2"></i>Lista nyomtatása</a>
                                <button type="submit" alt="Megjelenített igénylések szűrése" class="btn btn-info">Szűrés</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Igénylési azonosító</th>
                                <th class="d-none d-md-table-cell">Létrehozásának és lezárásának ideje</th>
                                <th class="d-none d-xl-table-cell">Igénylést intéző</th>
                                @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                                {
                                    <th>Felhasználó számára</th>
                                }
                                <th>Igénylés típusa</th>
                                <th class="d-print-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        ISZR <a href="@($"{baseUrl}/Requests/Details/{item.RequestId}")" class="text-info font-weight-bold text-decoration-none">#@item.RequestId</a><br />
                                        @{
                                            if (item.Status == "Végrehajtva")
                                            {
                                                <span class="text-success font-weight-bold"><i class="fas fa-check mr-2"></i>Végrehajtva</span>
                                            }
                                            else if (item.Status == "Elutasítva")
                                            {
                                                <span class="text-danger font-weight-bold"><i class="fas fa-ban mr-2"></i>Elutasítva</span>
                                            }
                                            else
                                            {
                                                <span class="text-info font-weight-bold"><i class="fas fa-comment-dots mr-2"></i>Folyamatban</span>
                                            }

                                        }
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                                        @if (item.ClosedDateTime != new DateTime())
                                        {
                                            if (item.Status == "Végrehajtva")
                                            {
                                                <br />
                                                <span class="text-success font-weight-bold">@item.ClosedDateTime.ToString("yyyy. MMMM dd. HH:mm")</span>
                                            }
                                            else if (item.Status == "Elutasítva")
                                            {
                                                <br />
                                                <span class="text-danger font-weight-bold">@item.ClosedDateTime.ToString("yyyy. MMMM dd. HH:mm")</span>
                                            }
                                        }
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        @if (item.CreatedByUser != null)
                                        {
                                            <span>@item.CreatedByUser.DisplayName</span>
                                        }
                                    </td>
                                    @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                                    {
                                        <td>
                                            @if (item.CreatedForUser != null)
                                            {
                                                <span>@item.CreatedForUser.DisplayName</span>
                                            }
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td class="float-right d-print-none">
                                        <a class="btn btn-default" asp-action="Details" asp-route-id="@item.RequestId"><i class="fas fa-search text-info mr-2"></i>Megtekintés</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
