@model PaginatedList<ISZR.Web.Models.Request>

@{

    ViewData["Title"] = "Összes igénylés";

    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";

    // Lista elemek betöltése
    var typeList = ViewData["TypeList"] as List<SelectListItem> ?? new List<SelectListItem>();
    var statusList = ViewData["StatusList"] as List<SelectListItem> ?? new List<SelectListItem>();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form asp-controller="Requests" asp-action="Index" method="get">
                <div class="card card-info d-print-none">
                    <div class="card-header" data-card-widget="collapse">
                        <h3 class="card-title"><i class="icon fas fa-filter mr-2"></i>Igénylések szűrése <abbr title="A beállított szűrők alapján fog megjelenni a lekért lista" class="text-decoration-none text-white ml-1"><i class="fas fa-question-circle"></i></abbr></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Nevezze meg a felhasználó nevét</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info"><i class="fas fa-user mr-2"></i>Név</span>
                                        </div>
                                        <input name="user" type="search" class="form-control" placeholder="Keresés név alapján" value="@ViewData["user"]" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Válassza ki a kívánt típust</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info"><i class="fas fa-paperclip mr-2"></i>Típus</span>
                                        </div>
                                        @Html.DropDownList("type", typeList, new { @class = "form-control select2bs4" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Válassza ki a kívánt státuszt</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info"><i class="fas fa-tag mr-2"></i>Státusz</span>
                                        </div>
                                        @Html.DropDownList("status", statusList, new { @class = "form-control select2bs4" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-print-none">
                        <span class="float-right">
                            <a class="btn btn-default ml-1 mr-1" onclick="window.print()"><i class="icon fas fa-print mr-2"></i>Lista nyomtatása</a>
                            <button type="submit" alt="Megjelenített igénylések szűrése" class="btn btn-info">Szűrés</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Igénylési azonosító</th>
                                <th class="d-none d-md-table-cell">Felhasználó</th>
                                <th>Igénylés típusa</th>
                                <th class="d-none d-md-table-cell">Utolsó módosítás ideje</th>
                                <th class="d-print-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        ISZR <a href="@($"{baseUrl}/Requests/Details/{item.RequestId}")" class="text-info font-weight-bold text-decoration-none">#@item.RequestId</a><br />
                                        @{
                                            if (item.Status == "Végrehajtva")
                                            {
                                                <span class="badge badge-success"><i class="fas fa-check mr-2"></i>Végrehajtva</span>
                                            }
                                            else if (item.Status == "Elutasítva")
                                            {
                                                <span class="badge badge-danger"><i class="fas fa-ban mr-2"></i>Elutasítva</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-info"><i class="fas fa-comment-dots mr-2"></i>Folyamatban</span>
                                            }

                                        }
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        @if (item.CreatedForUser != null)
                                        {
                                            <span>@item.CreatedForUser?.DisplayName bv.@item.CreatedForUser?.Rank?.ToLower()</span>

                                            <br />
                                            <span class="badge badge-info">@item.CreatedForUser?.Position?.Name</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        @if (item.ClosedDateTime != new DateTime())
                                        {
                                            <span>@item.ClosedDateTime.ToString("yyyy. MMMM. dd. HH:mm")</span>
                                        }
                                        else
                                        {
                                            <span>@item.CreatedDateTime.ToString("yyyy. MMMM. dd. HH:mm")</span>
                                        }
                                    </td>
                                    <td class="d-print-none">
                                        <div class="float-right">
                                            <a class="btn btn-default" asp-action="Details" asp-route-id="@item.RequestId"><i class="fas fa-search text-info"></i><span class="d-none d-xl-inline ml-2">Megtekintés</span></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="float-left ml-1 d-none d-sm-inline">
                <div class="text-muted font-italic">
                    Aktuális oldal: <span class="font-weight-bold ml-1 mr-1">@Model?.PageIndex</span>/<span class="ml-1 mr-1">@Model?.TotalPages</span><br />
                    <span class="mr-1">@ViewData["dataLength"]</span> darab igénylés
                </div>
            </div>

            <div class="float-right d-print-none">
                <a class="btn btn-default mr-2 @prevDisabled"
                   asp-action="Index"
                   asp-route-user="@ViewData["user"]"
                   asp-route-type="@ViewData["type"]"
                   asp-route-status="@ViewData["status"]"
                   asp-route-pageNumber="@(Model?.PageIndex - 1)"><i class="fas fa-backward text-info mr-2"></i>Elöző oldal</a>

                <a class="btn btn-default @nextDisabled"
                   asp-action="Index"
                   asp-route-user="@ViewData["user"]"
                   asp-route-type="@ViewData["type"]"
                   asp-route-status="@ViewData["status"]"
                   asp-route-pageNumber="@(Model?.PageIndex + 1)">Következő oldal<i class="fas fa-forward text-info ml-2"></i></a>
            </div>
        </div>
    </div>
</div>
