@model ISZR.Web.Models.Request

@{
    ViewData["Title"] = "Kamerafelvétel lementése időpontok alapján";

    // Elérhető mennyiség kiszámítása
    var dataList = ViewData["Cameras"] as MultiSelectList;
    int requestableData = (dataList != null) ? dataList.Count() : 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (requestableData > 0)
            {
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Igénylés menete</h3>
                    </div>
                    <div class="card-body p-0">
                        <form asp-action="RecordsByTime" onsubmit="submitButton.disabled = true; return true;">
                            <div class="row">
                                <div class="col-12">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="bs-stepper linear">
                                <div class="bs-stepper-header" role="tablist">
                                    <div class="step active" data-target="#request-info">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="request-info" id="request-info-trigger" aria-selected="true">
                                            <span class="bs-stepper-circle bg-info"><i class="icon fas fa-camera"></i></span>
                                            <span class="bs-stepper-label">Felvételel kapcsolatos információk</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#recordTime">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="recordTime" id="recordTime-trigger" aria-selected="false" disabled>
                                            <span class="bs-stepper-circle bg-info"><i class="icon fas fa-clock"></i></span>
                                            <span class="bs-stepper-label">Kamerák és azok időpontjai</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#summary">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="summary" id="summary-trigger" aria-selected="false" disabled>
                                            <span class="bs-stepper-circle bg-info"><i class="icon fas fa-list"></i></span>
                                            <span class="bs-stepper-label">Összesítés</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <div id="request-info" class="content active dstepper-block" role="tabpanel" aria-labelledby="request-info-trigger">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>Felhasználó, aki részére az igénylés zajlik</label><span class="text-danger font-weight-bold ml-1">*</span>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <select id="selectedUser" asp-for="CreatedForUserId" asp-items="ViewBag.CreatedForUserId" class="form-control select2bs4" required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="alert alert-light alert-dismissible">
                                                    <h5><i class="icon fas fa-info"></i>Információ a felhasználói listáról</h5>
                                                    Csak a rendszerben létező felhasználók részére lehet igényelni kamerafelvételt!<br />
                                                    Amennyiben nem új felhasználóról van szó és nem található a listában, abban az esetben hozz létre egy <a class="text-dark font-weight-bold text-decoration-none ml-1 mr-1" asp-controller="Reports" asp-action="Create"><i class="fas fa-bullhorn mr-2"></i>Hibabejelentést</a> és azt hozzáadjuk a rendszerhez.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>Kamerafelvétel lementésének oka</label><span class="text-danger font-weight-bold ml-1">*</span>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="far fa-eye"></i></span>
                                                        </div>
                                                        <input id="inputWhy" name="inputWhy" type="text" class="form-control" placeholder="Lementésének oka" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="alert alert-light alert-dismissible">
                                                    <h5><i class="icon fas fa-info"></i>Információ a felvétel okáról</h5>
                                                    A megnevezett okkal lesznek elnevezve a felvételek a későbbi könnyebb visszakeresés érdekében.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="float-right">
                                                    <a class="btn btn-info" onclick="stepper.next()">Tovább</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="recordTime" class="content" role="tabpanel" aria-labelledby="recordTime-trigger">
                                        <div class="row">
                                            @for (int i = 1; i < 10; i++)
                                            {
                                                <div class="col-12 col-xl-4 col-md-6">
                                                    <div class="card card-light collapsed-card">
                                                        <div class="card-header" data-card-widget="collapse">
                                                            <h5 class="card-title"><i class="icon fas fa-video mr-2"></i>Felvétel #@i</h5>
                                                            <div class="card-tools">
                                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label>Kamera</label>
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fas fa-video"></i></span>
                                                                    </div>
                                                                    <select id="@i-camera" asp-items="ViewBag.Cameras" class="form-control select2bs4">
                                                                        <option value="" disabled selected></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Időpont kezdete</label>
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                                                    </div>
                                                                    <input id="@i-start" type="datetime-local" min="@DateTime.Now.AddMonths(-1).AddDays(-14).ToString("yyyy-MM-dd hh:mm")" max="@DateTime.Now.ToString("yyyy-MM-dd hh:mm")" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="form-group">
                                                                    <label>Időpont vége</label>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                                                        </div>
                                                                        <input id="@i-end" type="datetime-local" min="@DateTime.Now.AddMonths(-1).AddDays(-14).ToString("yyyy-MM-dd hh:mm")" max="@DateTime.Now.ToString("yyyy-MM-dd hh:mm")" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="float-right">
                                                    <a class="btn btn-secondary" onclick="stepper.previous()"><i class="fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                                    <a class="btn btn-info ml-1" onclick="summary()">Tovább</a>
                                                    <script>
                                                        function summary() {
                                                            document.getElementById("summaryUser").innerHTML = $('#selectedUser option:selected').toArray().map(item => item.text).join();
                                                            document.getElementById("summaryWhy").innerHTML = $('#inputWhy').val();

                                                            var options = { year: 'numeric', month: 'long', day: 'numeric' };
                                                            const records = [];
                                                            for (let i = 1; i <= 9; i++) {
                                                                const cameraName = $(`#${i}-camera`).val()
                                                                if (cameraName != null) {
                                                                    var start = new Date($(`#${i}-start`).val()),
                                                                        startDay = start.toLocaleDateString('hu-HU', options),
                                                                        startTime = start.toLocaleTimeString('hu-HU');

                                                                    var end = new Date($(`#${i}-end`).val()),
                                                                        endDay = end.toLocaleDateString('hu-HU', options),
                                                                        endTime = end.toLocaleTimeString('hu-HU');

                                                                    records.push([cameraName, `${startDay} ${startTime}`, `${endDay} ${endTime}`]);
                                                                }
                                                            }

                                                            document.getElementById('recordsArray').value = JSON.stringify(records);

                                                            var tbody = document.querySelector("table tbody");

                                                            while (tbody.firstChild) {
                                                                tbody.removeChild(tbody.firstChild);
                                                            }

                                                            records.forEach(function (item) {
                                                                var tr = document.createElement("tr");
                                                                tr.innerHTML = "<td>" + item[0] + "</td><td>" + item[1] + "</td><td>" + item[2] + "</td>";
                                                                tbody.appendChild(tr);
                                                            });
                                                            stepper.next();
                                                        }
                                                    </script>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="summary" class="content" role="tabpanel" aria-labelledby="summary-trigger">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="alert alert-light alert-dismissible">
                                                    <h5><i class="icon fas fa-exclamation-triangle"></i>Összefoglaló áttekintése az igénylés létrehozása előtt</h5>
                                                    <dl class="row">
                                                        <dt class="col-sm-4"><i class="icon fas fa-user"></i>Felhasználó részére</dt>
                                                        <dd id="summaryUser" class="col-sm-8"></dd>
                                                        <dt class="col-sm-4"><i class="icon fas fa-tag"></i>Igénylés típusa</dt>
                                                        <dd class="col-sm-8">Kamerafelvétel lementése</dd>
                                                        <dt class="col-sm-4"><i class="icon fas fa-history"></i>Igénylés létrehozásának ideje</dt>
                                                        <dd class="col-sm-8">@DateTime.Now.ToString("yyyy. MMMM dd. HH:mm")</dd>
                                                        <dt class="col-sm-4"><i class="icon far fa-eye"></i>Kamerafelvétel lementésének oka</dt>
                                                        <dd id="summaryWhy" class="col-sm-8"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body p-0">
                                                        <table class="table">
                                                            <thead class="bg-light">
                                                                <tr>
                                                                    <th><i class="icon fas fa-video mr-2"></i>Kamera</th>
                                                                    <th><i class="icon fas fa-play mr-2"></i>Felvétel kezdete</th>
                                                                    <th><i class="icon fas fa-stop mr-2"></i>Felvétel vége</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="recordsArray" name="recordsArray" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="float-left">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" type="checkbox" id="agreeToTerms" name="agreeToTerms" required />
                                                        <label class="custom-control-label" for="agreeToTerms">
                                                            Minden kötelező mezőt (<span class="text-danger font-weight-bold">*</span>) kitöltöttem, és a megadott adatok helyesek.
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="float-right">
                                                    <a class="btn btn-secondary" onclick="stepper.previous()"><i class="fas fa-sign-out-alt mr-2"></i>Vissza</a>
                                                    <button id="submitButton" name="submitButton" type="submit" class="btn btn-info ml-1" disabled>Igénylés létrehozása</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible">
                    <h5><i class="icon fas fa-ban"></i> Figyelem!</h5>
                    A rendszerben jelenleg nem található kamera!<br />
                    Az igénylés <b>automatikusan</b> ismét elérhetővé válik, amennyiben hozzáadásra kerül.
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'));
    });
</script>