@model PaginatedList<ISZR.Web.Models.Request>

@{

    ViewData["Title"] = "Végrehajtásra váró igénylések";

    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Igénylési azonosító</th>
                                <th>Felhasználó</th>
                                <th>Igénylés típusa</th>
                                <th>Utolsó módosítás ideje</th>
                                <th class="d-print-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        ISZR <a href="@($"{baseUrl}/Requests/Details/{item.RequestId}")" class="text-info font-weight-bold text-decoration-none">#@item.RequestId</a><br />
                                        @{
                                            if (item.Status == "Végrehajtva")
                                            {
                                                <span class="badge badge-success"><i class="fas fa-check mr-2"></i>Végrehajtva</span>
                                            }
                                            else if (item.Status == "Elutasítva")
                                            {
                                                <span class="badge badge-danger"><i class="fas fa-ban mr-2"></i>Elutasítva</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-info"><i class="fas fa-comment-dots mr-2"></i>Folyamatban</span>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @if (item.CreatedForUser != null)
                                        {
                                            <span>@item.CreatedForUser?.DisplayName bv.@item.CreatedForUser?.Rank.ToLower()</span>

                                            <br />
                                            <span class="badge badge-info">@item.CreatedForUser?.Position?.Name</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @if (item.ClosedDateTime != new DateTime())
                                        {
                                            <span>@item.ClosedDateTime.ToString("yyyy. MMMM. dd. HH:mm")</span>
                                        }
                                        else
                                        {
                                            <span>@item.CreatedDateTime.ToString("yyyy. MMMM. dd. HH:mm")</span>
                                        }
                                    </td>
                                    <td class="float-right d-print-none">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-book mr-2"></i>Adminisztratív müveletek
                                            </button>
                                            <div class="dropdown-menu">
                                                <a asp-action="Details" asp-route-id="@item.RequestId" class="dropdown-item"><i class="fas fa-search text-info mr-2"></i>Megtekintés</a>
                                                <div class="dropdown-divider"></div>
                                                <form style="display: inline;" asp-action="ToDo">
                                                    <input hidden name="id" value="@item.RequestId">
                                                    <input hidden name="status" value="Végrehajtva">
                                                    <input hidden name="closedByUserId" value="@ViewBag.ClosedByUserId">
                                                    <button type="submit" class="dropdown-item"><i class="fas fa-check-circle text-success mr-2"></i>Végrehajtás</button>
                                                </form>
                                                <form style="display: inline;" asp-action="ToDo">
                                                    <input hidden name="id" value="@item.RequestId">
                                                    <input hidden name="status" value="Elutasítva">
                                                    <input hidden name="closedByUserId" value="@ViewBag.ClosedByUserId">
                                                    <button type="submit" class="dropdown-item"><i class="fas fa-times-circle text-danger mr-2"></i>Elutasítás</button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="float-left ml-1">
                <div class="text-muted font-italic">
                    Aktuális oldal: <span class="font-weight-bold ml-1 mr-1">@Model.PageIndex</span>/<span class="ml-1 mr-1">@Model.TotalPages</span><br />
                    <span class="mr-1">@ViewData["dataLength"]</span> darab igénylés
                </div>
            </div>

            <div class="float-right d-print-none">
                <a class="btn btn-default mr-2 @prevDisabled"
                   asp-action="ToDo"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"><i class="fas fa-backward text-info mr-2"></i>Elöző oldal</a>

                <a class="btn btn-default @nextDisabled"
                   asp-action="ToDo"
                   asp-route-pageNumber="@(Model.PageIndex + 1)">Következő oldal<i class="fas fa-forward text-info ml-2"></i></a>
            </div>
        </div>
    </div>
</div>
