@model IEnumerable<ISZR.Web.Models.Group>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Jogosultsági csoportok karbantartása";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-info">
					<h3 class="card-title"><a asp-action="Create"><input type="button" value="Új jogosultsági csoport létrehozása" class="btn btn-light" /></a></h3>
				</div>
				<div class="card-body p-0">
					@foreach (var item in Model)
					{
						<div class="modal fade" id="deleteModal@(item.GroupId)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(item.GroupId)" aria-hidden="true">
							<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header bg-danger">
										<h5 class="modal-title" id="deleteModalLabel@(item.GroupId)">Archiválási állapot megváltoztatása</h5>
									</div>
									<div class="modal-body">
										<div>Biztosan szeretnéd <b>@item.Name</b> nevű csoport archiválási állapotát megváltoztatni?</div>
										<div>
											Jelenlegi állapota:
											@if (item.IsArchived)
											{
												<span class="text-danger font-weight-bold"><i class="icon fas fa-archive ml-1 mr-1"></i>Archivált</span>
											}
											else
											{
												<span class="text-success font-weight-bold"><i class="icon fas fa-signal ml-1 mr-1"></i>Elérhető</span>
											}
											<span class="ml-1">Változtatás utánni állapota:</span>
											@if (!item.IsArchived)
											{
												<span class="text-danger font-weight-bold"><i class="icon fas fa-archive ml-1 mr-1"></i>Archivált</span>
											}
											else
											{
												<span class="text-success font-weight-bold"><i class="icon fas fa-signal ml-1 mr-1"></i>Elérhető</span>
											}
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-sign-out-alt mr-2"></i>Vissza</button>
										<form asp-action="Index" asp-route-id="@item.GroupId">
											<input type="hidden" asp-for="@item.GroupId" />
											<button type="submit" class="btn btn-danger">Csoport állapotának megváltoztatása</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					}
					<table class="table table-striped">
						<thead class="bg-info">
							<tr>
								<th>Csoport megnevezése</th>
								<th>Állapot</th>
								<th class="d-none d-xl-table-cell">Windows jogosultság</th>
								<th class="d-none d-xl-table-cell">Főnix 3 jogosultság</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@if (item.IsArchived)
										{
											<span class="text-danger font-weight-bold"><i class="icon fas fa-archive mr-2"></i>Archivált</span>
										}
										else
										{
											<span class="text-success font-weight-bold"><i class="icon fas fa-signal mr-2"></i>Elérhető</span>
										}
									</td>
									<td class="d-none d-xl-table-cell">
										@if (item.WindowsPermissions == null || item.WindowsPermissions == "")
										{
											<span class="text-danger font-weight-bold"><i class="icon fas fa-exclamation mr-2"></i>Nem tartalmaz</span>
										}
										else
										{
											<span class="text-success font-weight-bold"><i class="icon fas fa-check mr-2"></i>Tartalmaz</span>
										}
									</td>
									<td class="d-none d-xl-table-cell">
										@if (item.FonixPermissions == null || item.FonixPermissions == "")
										{
											<span class="text-danger font-weight-bold"><i class="icon fas fa-exclamation mr-2"></i>Nem tartalmaz</span>
										}
										else
										{
											<span class="text-success font-weight-bold"><i class="icon fas fa-check mr-2"></i>Tartalmaz</span>
										}
									</td>
									<td class="float-right">
										<a asp-action="Details" asp-route-id="@item.GroupId"><input type="button" value="Részletek" class="btn btn-info" /></a>
										<a asp-action="Edit" asp-route-id="@item.GroupId"><input type="button" value="Szerkesztés" class="btn btn-warning ml-1" /></a>
										<input type="button" data-toggle="modal" data-target="#deleteModal@(item.GroupId)" value="Állapot változtatás" class="btn btn-danger ml-1" />
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

