@using ISZR.Web.ViewModels;

@model HealthChecksViewModel;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Rendszer állapotfelmérése";
    var healthcheck = $"{Context.Request.Scheme}://{Context.Request.Host}/healthz";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-database"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Adatbázis</span>
                    @if (Model.DatabaseStatus)
                    {
                        <span class="info-box-number text-success font-weight-bold"><i class="icon fas fa-signal mr-2"></i>Elérhető</span>
                    }
                    else
                    {
                        <span class="info-box-number text-danger font-weight-bold"><i class="icon fas fa-exclamation-triangle mr-2"></i>Nem elérhető</span>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-server"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Directory szolgáltatás</span>
                    @if (Model.LDAPServiceStatus && Model.LDAPConnectionStatus)
                    {
                        <a class="info-box-number text-success font-weight-bold" asp-controller="Application" asp-action="Settings"><i class="icon fas fa-signal mr-2"></i>Sikeres csatlakozva</a>
                    }
                    else if (Model.LDAPServiceStatus && !Model.LDAPConnectionStatus)
                    {
                        <a class="info-box-number text-danger font-weight-bold" asp-controller="Application" asp-action="Settings"><i class="icon fas fa-exclamation-triangle mr-2"></i>Sikertelen csatlakozás</a>
                    }
                    else
                    {
                        <a class="info-box-number text-danger font-weight-bold" asp-controller="Application" asp-action="Settings"><i class="icon fas fa-power-off mr-2"></i>Kikapcsolva</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-envelope"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">E-mail értesítési szolgáltatás</span>
                    @if (Model.EmailServiceStatus)
                    {
                        <a class="info-box-number text-success font-weight-bold" asp-controller="Application" asp-action="Settings"><i class="icon fas fa-power-off mr-2"></i>Bekapcsolva</a>
                    }
                    else
                    {
                        <a class="info-box-number text-danger font-weight-bold" asp-controller="Application" asp-action="Settings"><i class="icon fas fa-power-off mr-2"></i>Kikapcsolva</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="m-2">Felhasználókkal kapcsolatos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-building"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Aktív felhasználók az elmúlt időszakban</span>
                    <div class="info-box-number text-muted">
                        <a asp-controller="Users" asp-action="Online" class="mr-2 text-success font-weight-bold"><i class="icon fas fa-user mr-2"></i>@Model.LoggedUserToday</a>
                        <span class="mr-2 text-muted">/</span>
                        <a asp-controller="Users" asp-action="Index" asp-route-status="True" class="text-muted"><i class="icon fas fa-users mr-2"></i>@Model.ActiveUsers</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-parking"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jelenleg aktív parkolási engedélyek</span>
                    <div class="info-box-number">
                        <a asp-controller="Parkings" asp-action="Index" asp-route-status="True" class="text-success font-weight-bold"><i class="icon fas fa-car-side mr-2"></i>@Model.ActiveParkings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="m-2">Felhasználók számára igényelhető</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-users-cog"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jogosultsági csoport</span>
                    <div class="info-box-number">
                        <a asp-controller="Groups" asp-action="Index" asp-route-status="True" class="text-success font-weight-bold"><i class="icon fas fa-user-friends mr-2"></i>@Model.ActiveGroups</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-key"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jogosultság</span>
                    <div class="info-box-number font-weight-bold text-muted">
                        <a asp-controller="Permissions" asp-action="Index" asp-route-status="True" asp-route-type="Windows" class="mr-2 text-info"><i class="icon fab fa-windows mr-2"></i>@Model.ActiveWindowsPermission</a>
                        <span class="mr-2 text-muted">/</span>
                        <a asp-controller="Permissions" asp-action="Index" asp-route-status="True" asp-route-type="Főnix 3" class="text-warning"><i class="icon fas fa-dove mr-2"></i>@Model.ActiveFonixPermission</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="info-box bg-default">
                <span class="info-box-icon"><i class="fas fa-phone-square-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-muted">PIN Kód</span>
                    <div class="info-box-number">
                        <a asp-controller="Phones" asp-action="Index" asp-route-status="True" class="text-success font-weight-bold"><i class="icon fas fa-phone mr-2"></i>@Model.ActiveNotUsedPhone</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="m-2">Az elmúlt 1 hónap igényléseinek statisztikái</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="progress-group">
                                <span class="progress-text">Végrehajtva</span>
                                <span class="float-right">@Model.RequestAllDone darab igénylés (@ViewData["donePercent"]%)</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" style="width: @ViewData["donePercent"]%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="progress-group">
                                <span class="progress-text">Folyamatban lévő</span>
                                <span class="float-right">@Model.RequestAllProgress darab igénylés (@ViewData["inProgressPercent"]%)</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" style="width: @ViewData["inProgressPercent"]%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="progress-group">
                                <span class="progress-text">Elutasítva</span>
                                <span class="float-right">@Model.RequestAllDenied darab igénylés (@ViewData["deniedPercent"]%)</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger" style="width: @ViewData["deniedPercent"]%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
