@model IEnumerable<ISZR.Models.User>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Felhasználók karbantartása";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Felhasználók karbantartása</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Azonosító</th>
                                <th>Felhasználónév</th>
                                <th>Név</th>
                                <th>Utolsó bejelentkezés</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastLogin)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.UserId"><input type="button" value="Részletek" class="btn btn-info" /></a>
                                        <a asp-action="Edit" asp-route-id="@item.UserId"><input type="button" value="Szerkesztés" class="btn btn-warning" /></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
