@inject IUserService UserService

<aside class="main-sidebar main-sidebar-custom sidebar-dark-info elevation-4 ">
    <a class="brand-link" asp-controller="Home" asp-action="Dashboard">
        <img src="~/img/ISZR.svg" alt="ISZR Logo" class="brand-image">
        <span class="brand-text">ISZR</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
            <div class="image">
                <img src="~/img/avatar.png" class="img-circle elevation-2" alt="Profile Picture">
            </div>
            <div class="info ml-3">
                <a class="d-block" asp-controller="Home" asp-action="Dashboard">
                    <span class="text-wrap">@UserService.GetUsername()</span>
                </a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><b>Igénylések</b></li>
                @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index" || ViewContext.RouteData.Values["Action"]?.ToString() == "Details" ? "active" : "")" asp-controller="Requests" asp-action="Index" asp-route-status="Mind" asp-route-type="Mind">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Összes igénylés</p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "ForYou" || ViewContext.RouteData.Values["Action"]?.ToString() == "Details" ? "active" : "")" asp-controller="Requests" asp-action="ForYou">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Igényléseid</p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("SKFB-ISZR-Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "ToDo" ? "active" : "")" asp-controller="Requests" asp-action="ToDo">
                            <i class="nav-icon fas fa-truck-loading"></i>
                            <p>Végrehajtásra váró</p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                {
                    <li class="nav-header"><b>Informatikával kapcsolatos</b></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link @(ViewContext.RouteData.Values["Action"]?.ToString() == "UserAdditionalAccess" || ViewContext.RouteData.Values["Action"]?.ToString() == "NewUserAccess" || ViewContext.RouteData.Values["Action"]?.ToString() == "UserChangePosition" ? "active" : "")">
                            <i class="nav-icon fas fa-address-card"></i>
                            <p>Jogosultság igénylése <i class="fas fa-angle-left right"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Requests" asp-action="NewUserAccess">
                                    <i class="nav-icon fas fa-user-plus"></i>
                                    <p>Új felhasználó részére jogosultság</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Requests" asp-action="UserAdditionalAccess">
                                    <i class="nav-icon fas fa-user-edit"></i>
                                    <p>Meglévő felhasználó részére többletjogosultság</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Requests" asp-action="UserChangePosition">
                                    <i class="nav-icon fas fa-people-arrows"></i>
                                    <p>Meglévő felhasználó új beosztásának jogosultságai</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "Email" ? "active" : "")" asp-controller="Requests" asp-action="Email">
                            <i class="nav-icon fas fa-envelope"></i>
                            <p>E-mail cím igénylése</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "Phone" ? "active" : "")" asp-controller="Requests" asp-action="Phone">
                            <i class="nav-icon fas fa-phone-square-alt"></i>
                            <p>Telefonáláshoz PIN kód igénylése</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "Parking" ? "active" : "")" asp-controller="Requests" asp-action="Parking">
                            <i class="nav-icon fas fa-parking"></i>
                            <p>Parkolási engedély igénylése</p>
                        </a>
                    </li>
                    <li class="nav-header"><b>Biztonságtechnikával kapcsolatos</b></li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ViewContext.RouteData.Values["Action"]?.ToString() == "HikcentralPermission" ? "active" : "")" asp-controller="Requests" asp-action="HikcentralPermission">
                            <i class="nav-icon fas fa-shield-alt"></i>
                            <p>HikCentral jogosultság igénylése</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Requests" && ( ViewContext.RouteData.Values["Action"]?.ToString() == "RecordsByTime" || ViewContext.RouteData.Values["Action"]?.ToString() == "RecordsByTags" ) ? "active" : "")">
                            <i class="nav-icon fas fa-video"></i>
                            <p>Kamerafelvétel<i class="fas fa-angle-left right"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Requests" asp-action="RecordsByTime">
                                    <i class="nav-icon fas fa-history"></i>
                                    <p>Kamerafelvétel lementése időpontok alapján</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Requests" asp-action="RecordsByTags">
                                    <i class="nav-icon fas fa-tags"></i>
                                    <p>Kamerafelvétel lementése címkék alapján</p>
                                    <span class="right badge badge-danger">ÚJ</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-header"><b>Egyebek</b></li>
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Permissions" ? "active" : "")" asp-controller="Home" asp-action="Permissions">
                        <i class="nav-icon fas fa-key"></i>
                        <p>Jogosultsági magyarázat</p>
                    </a>
                </li>
                @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Reports" && ViewContext.RouteData.Values["Action"]?.ToString() == "Create" ? "active" : "")" asp-controller="Reports" asp-action="Create">
                            <i class="nav-icon fas fa-bullhorn"></i>
                            <p>Hibabejelentés</p>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "FAQ" ? "active" : "")" asp-controller="Home" asp-action="FAQ">
                        <i class="nav-icon fas fa-question-circle"></i>
                        <p>GYIK</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    @if (User.IsInRole("SKFB-ISZR-Ugyintezo"))
    {
        <div class="sidebar-custom">
            <form asp-controller="Search" asp-action="Index" method="get">
                <div class="form-inline">
                    <div class="input-group">
                        <input name="searching" class="form-control form-control-sidebar" type="text" placeholder="Keresés" spellcheck="false">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-sidebar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
</aside>
