@model IEnumerable<ISZR.Models.Request>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "ISZR Karbantartása";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Igénylések</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-12">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tasks"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Igénylések összesen</span>
                    <span class="info-box-number">@ViewBag.AllRequest</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Végrehajtva</span>
                    <span class="info-box-number">@ViewBag.AllDoneRequest</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-comment-dots"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Folyamatban</span>
                    <span class="info-box-number">@ViewBag.AllInProgressRequest</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-ban"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Elutasítva</span>
                    <span class="info-box-number">@ViewBag.AllDeniedRequest</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Igénylés azonosítója</th>
                                <th>Igénylő személy</th>
                                <th>Kinek a számára</th>
                                <th>Igénylés típusa</th>
                                <th>Státusz</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestAuthor.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestFor.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.RequestId"><input type="button" value="Részletek" class="btn btn-info" /></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>