@model PaginatedList<ISZR.Web.Models.Camera>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Intézeti kamerák karbantartása";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info d-print-none">
                    <h3 class="card-title"><a asp-action="Create"><input type="button" value="Új kamera létrehozása" class="btn btn-light" /></a></h3>
                </div>

                <div class="card-body p-0">
                    @foreach (var item in Model)
                    {
                        <div class="modal fade" id="deleteModal@(item.CameraId)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(item.CameraId)" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title" id="deleteModalLabel@(item.CameraId)"><i class="fas fa-archive mr-2"></i>Archiválási állapot megváltoztatása</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div>Biztosan szeretnéd <b>@item.Name</b> nevű kamera archiválási állapotát megváltoztatni?</div>
                                        <br />
                                        <div class="text-danger font-weight-bold">FIGYELEM!</div>
                                        <div class="text-muted">Archivált kamerát a felhasználók már nemtudnak kiválasztani kamerafelvétel lementésekor!</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon fas fa-sign-out-alt mr-2"></i>Vissza</button>
                                        <form asp-action="Index" asp-route-id="@item.CameraId">
                                            <input type="hidden" asp-for="@item.CameraId" />
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-archive mr-2"></i>Megváltoztatás</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Név</th>
                                <th class="d-print-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <span>@item.Name</span>
                                        <br />
                                        @if (item.IsArchived)
                                        {
                                            <span class="badge badge-danger"><i class="icon fas fa-archive mr-2"></i>Archivált kamera</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success"><i class="icon fas fa-camera mr-2"></i>Kiválasztható kamera</span>
                                        }
                                    </td>
                                    <td class="float-right d-print-none">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-book mr-2"></i>Adminisztratív müveletek
                                            </button>
                                            <div class="dropdown-menu">
                                                <a asp-action="Edit" asp-route-id="@item.CameraId" class="dropdown-item"><i class="fas fa-edit mr-2"></i>Szerkesztés</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item bg-danger text-white" href="#" data-toggle="modal" data-target="#deleteModal@(item.CameraId)"><i class="fas fa-archive mr-2"></i>Archiválás</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="float-left ml-1">
                <div class="text-muted font-italic">
                    Aktuális oldal: <span class="font-weight-bold ml-1 mr-1">@Model.PageIndex</span>/<span class="ml-1 mr-1">@Model.TotalPages</span><br />
                    <span class="mr-1">@ViewData["dataLength"]</span> darab kamera
                </div>
            </div>

            <div class="float-right d-print-none">
                <a class="btn btn-default mr-2 @prevDisabled"
                   asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"><i class="fas fa-backward text-info mr-2"></i>Elöző oldal</a>

                <a class="btn btn-default @nextDisabled"
                   asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex + 1)">Következő oldal<i class="fas fa-forward text-info ml-2"></i></a>
            </div>
        </div>
    </div>
</div>
